---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../../app/globals.css'

const data = [
  {
    name: 'ICE FORTE',
	type: 'Vertuo/Barista Creations',
 	size: '7.77 fl.oz/Mug',
    profile: 'Cereal, woody & peppery notes',
	roast: 'DARK ROAST',
	caffeine: "165"
  },
  {
	name: 'ICE LEGGERO',
	type: 'Vertuo/Barista Creations',
 	size: '2.7 fl. oz/Double espresso',
    profile: 'Fruity & cereal notes',
	roast: 'MEDIUM ROAST',
	caffeine: '165'
  },
  {
	name: 'SWEET VANILLA',
	type: 'Vertuo/Barista Creations',
 	size: '7.77 fl.oz/Mug',
    profile: 'Sweet biscuit, candied & cereal notes',
	roast: 'MEDIUM ROAST',
	caffeine: '166'
  },
  {
	name: 'GOLDEN CARAMEL',
	type: 'Vertuo/Barista Creations',
 	size: '7.77 fl.oz/Mug',
    profile: 'Caramel flavor, sweet biscuit notes',
	roast: 'MEDIUM ROAST',
	caffeine: '159'
  },
  {
	name: 'RICH CHOCOLATE',
	type: 'Vertuo/Barista Creations',
 	size: '7.77 fl.oz/Mug',
    profile: 'Dark chocolate, notes of caramel, almond & cereal',
	roast: 'MEDIUM ROAST',
	caffeine: '160'
  }, {
	name: 'ROASTED HAZELNUT',
	type: 'Vertuo/Barista Creations',
 	size: '7.77 fl.oz/Mug',
    profile: 'Hazelnut, notes of biscuits & caramel',
	roast: 'MEDIUM ROAST',
	caffeine: '170'
  }, {
	name: 'BIANCO PICCOLO',
	type: 'Vertuo/Barista Creations',
 	size: '1.35 fl.oz/Espresso',
    profile: 'Notes of biscuits & caramel',
	roast: 'DARK ROAST',
	caffeine: '75'
  }, {
	name: 'BIANCO DOPPIO',
	type: 'Vertuo/Barista Creations',
 	size: '2.7 fl. oz/Double Espresso',
    profile: 'Fruity, biscuity, & cereal notes' ,
	roast: 'LIGHT ROAST',
	caffeine: '105'
  }, {
	name: 'BIANCO FORTE',
	type: 'Vertuo/Barista Creations',
 	size: '7.77 fl.oz/Mug',
    profile: 'Roasted, cereal notes',
	roast: 'DARK ROAST',
	caffeine: '160'
  }, {
	name: 'CAFECITO DE PUERTO RICO',
	type: 'Vertuo/Reviving Origins',
 	size: '2.7 fl. oz/Double Espresso',
    profile: 'Dark cocoa, pepper & brown spice ',
	roast: 'DARK ROAST',
	caffeine: '165'
  }, 
  {
	name: 'KAHAWA YA CONGO',
	type: 'Vertuo/Reviving Origins',
 	size: '7.77 fl.oz/Mug',
    profile: 'Toasted cereal notes, nutty aromas & mild fruitiness',
	roast: 'MEDIUM ROAST',
	caffeine: '150'
  },
  {
	name: 'EL SALVADOR',
	type: 'Vertuo/Origins',
 	size: '7.77 fl.oz/Mug',
    profile: 'Sweet, biscuit, fruity jam, & cereal notes',
	roast: 'LIGHT ROAST',
	caffeine: '140'
  },
  {
	name: 'PERU ORGANIC',
	type: 'Vertuo/Master Crafted Single Origins',
 	size: '1.35 oz/Espresso',
    profile: 'Toasted cereal & fruit notes',
	roast: 'MEDIUM ROAST',
	caffeine: '85'
  },
  {
	name: 'COSTA RICA',
	type: 'Vertuo/Master Crafted Single Origins',
 	size: '5.07 fl. oz/Gran Lungo',
    profile: 'Malty sweet cereal note',
	roast: 'MEDIUM ROAST',
	caffeine: '140'
  },
  {
	name: 'MEXICO',
	type: 'Vertuo',
 	size: '7.77 fl.oz/Mug',
    profile: 'Intense roasted and spiced notes',
	roast: 'MEDIUM ROAST',
	caffeine: '190'
  }, {
	name: 'COLOMBIA',
	type: 'Vertuo',
 	size: '7.77 fl.oz/Mug',
    profile: 'Candied apple and red berry notes',
	roast: 'LIGHT ROAST',
	caffeine: '165'
  }, {
	name: 'VIVIDA',
	type: 'Vertuo/Coffee+',
 	size: '7.77 fl.oz/Mug',
    profile: 'Cereal notes, honeyed sweetness',
	roast: 'MEDIUM ROAST',
	caffeine: '170'
  }, {
	name: 'MELOZIO BOOST',
	type: 'Vertuo/Coffee+',
 	size: '7.77 fl.oz/Mug',
    profile: 'Cereal notes & honeyed sweetness',
	roast: 'MEDIUM ROAST',
	caffeine: '200'
  }, {
	name: 'STORMIO BOOST',
	type: 'Vertuo/Coffee+',
 	size: '7.77 fl.oz/Mug',
    profile: 'Woody & Earthy',
	roast: 'MEDIUM ROAST',
	caffeine: '200'
  }, {
	name: 'COLD BREW STYLE',
	type: 'Vertuo/XL Coffees',
 	size: '12oz/XL',
    profile: 'Roasted caramel notes',
	roast: 'MEDIUM ROAST',
	caffeine: '114'
  }, {
	name: 'ALTO AMBRATO',
	type: 'Vertuo/XL Coffees',
 	size: '12oz/XL',
    profile: 'Toasted cereal & sweet caramel notes, balanced & fruity',
	roast: 'LIGHT ROAST',
	caffeine: '170'
  },
  {
	name: 'ALTO ONICE',
	type: 'Vertuo/XL Coffees',
 	size: '12oz/XL',
    profile: 'Cocoa & spice notes',
	roast: 'MEDIUM ROAST',
	caffeine: '190'
  },{
	name: 'POUR-OVER STYLE',
	type: 'Vertuo/XL Coffees',
 	size: '18oz/Carafe',
    profile: 'Smoky notes, woody & earthy',
	roast: 'DARK ROAST',
	caffeine: '230'
  },{
	name: 'INTENSO',
	type: 'Vertuo',
 	size: '7.77 fl.oz/Mug',
    profile: 'Roasted & Chocolatey',
	roast: 'DARK ROAST',
	caffeine: '195'
  },{
	name: 'STORMIO',
	type: 'Vertuo',
 	size: '7.77 fl.oz/Mug',
    profile: 'Spicy, woody, cereal',
	roast: 'MEDIUM ROAST',
	caffeine: '170'
  },{
	name: 'ODACIO',
	type: 'Vertuo',
 	size: '7.77 fl.oz/Mug',
    profile: 'Cereal, bold',
	roast: 'MEDIUM ROAST',
	caffeine: '170'
  },{
	name: 'MELOZIO',
	type: 'Vertuo',
 	size: '7.77 fl.oz/Mug',
    profile: 'Nutty & Balanced',
	roast: 'MEDIUM ROAST',
	caffeine: '170'
  },{
	name: 'MELOZIO DECAFFEINATO',
	type: 'Vertuo',
 	size: '7.77 fl.oz/Mug',
    profile: 'Nutty & Balanced',
	roast: 'MEDIUM ROAST',
	caffeine: '11'
  },{
	name: 'SOLELIO',
	type: 'Vertuo',
 	size: '7.77 fl.oz/Mug',
    profile: 'Toasted cereal & fruity',
	roast: 'LIGHT ROAST',
	caffeine: '133'
  },{
	name: 'HALF CAFFEINATO',
	type: 'Vertuo',
 	size: '7.77 fl.oz/Mug',
    profile: 'Biscuit, sweet & velvety',
	roast: 'LIGHT ROAST',
	caffeine: '83'
  },
  {
	name: 'RISTRETTO INTENSO',
	type: 'VertuoRistretto & Espresso',
 	size: '0.85 fl oz/Ristretto',
    profile: 'Peppery spices & wood',
	roast: 'DARK ROAST',
	caffeine: '120'
  },{
	name: 'IL CAFFÈ',
	type: 'Vertuo',
 	size: '1.35 oz/Espresso',
    profile: 'Cereal, roasted & chocolatey',
	roast: 'DARK ROAST',
	caffeine: '152'
  },{
	name: 'DIAVOLITTO',
	type: 'Vertuo',
 	size: '1.35 oz/Espresso',
    profile: 'Roasted & chocolatey',
	roast: 'DARK ROAST',
	caffeine: '144'
  },{
	name: 'ALTISSIO',
	type: 'Vertuo',
 	size: '1.35 oz/Espresso',
    profile: 'Cereal, roasted & chocolatey',
	roast: 'DARK ROAST',
	caffeine: '108'
  },{
	name: 'ALTISSIO DECAFFEINATO',
	type: 'Vertuo',
 	size: '1.35 oz/Espresso',
    profile: 'Cereal, roasted & chocolatey',
	roast: 'DARK ROAST',
	caffeine: '4'
  },{
	name: 'ORAFIO',
	type: 'Vertuo',
 	size: '1.35 oz/Espresso',
    profile: 'Caramel & Roasted',
	roast: 'MEDIUM ROAST',
	caffeine: '110'
  },
  {
	name: 'TOCCANTO',
	type: 'Vertuo',
 	size: '1.35 oz/Espresso',
    profile: 'Berry & Winey',
	roast: 'MEDIUM ROAST',
	caffeine: '84'
  },{
	name: 'VOLTESSO',
	type: 'Vertuo',
 	size: '1.35 oz/Espresso',
    profile: 'Nutty & Balanced',
	roast: 'LIGHT ROAST',
	caffeine: '64'
  },{
	name: 'DOUBLE ESPRESSO DOLCE',
	type: 'Vertuo/DOUBLE ESPRESSO',
 	size: '2.7 fl. oz/Double Espresso',
    profile: 'Cereal & malted',
	roast: 'MEDIUM ROAST',
	caffeine: '133'
  },{
	name: 'DOUBLE ESPRESSO SCURO',
	type: 'Vertuo/DOUBLE ESPRESSO',
 	size: '2.7 fl. oz/Double Espresso',
    profile: 'Cocoa & vanilla',
	roast: 'MEDIUM ROAST',
	caffeine: '150'
  },{
	name: 'DOUBLE ESPRESSO CHIARO',
	type: 'Vertuo/DOUBLE ESPRESSO',
 	size: '2.7 fl. oz/Double Espresso',
    profile: 'Woody & earthy',
	roast: 'MEDIUM ROAST',
	caffeine: '135'
  },
  {
	name: 'INIZIO',
	type: 'Vertuo/Gran Lungo',
 	size: '5.07 fl. oz/Gran Lungo',
    profile: 'Toasted cereal & floral',
	roast: 'MEDIUM ROAST',
	caffeine: '120'
  },
  {
	name: 'FORTADO',
	type: 'Vertuo/Gran Lungo',
 	size: '5.07 fl. oz/Gran Lungo',
    profile: 'Cocoa & oak',
	roast: 'MEDIUM ROAST',
	caffeine: '195'
  },{
	name: 'FORTADO DECAFFEINATO',
	type: 'Vertuo/Gran Lungo',
 	size: '5.07 fl. oz/Gran Lungo',
    profile: 'Cocoa & oak',
	roast: 'MEDIUM ROAST',
	caffeine: '7'
  },{
	name: 'ARONDIO',
	type: 'Vertuo/Gran Lungo',
 	size: '5.07 fl. oz/Gran Lungo',
    profile: 'Cereal & Mild',
	roast: 'MEDIUM ROAST',
	caffeine: '150'
  },{
	name: '',
	type: '',
 	size: '',
    profile: '',
	roast: 'MEDIUM ROAST',
	caffeine: ''
  },

];
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Nespresso Caffeine Content Chart</span></h1>
	
		<ul role="list" class="link-card-grid">
			<Card
				href="/vertuo-line"
				title="Vertuo Line"
				body="Explore Vertuo line capsule caffeine chart."
			/>
			<Card
				href="/original-line"
				title="Original Line"
				body="Explore Original line capsule caffeine chart."
			/>
				<Card
					href="https://astro.build/themes/"
					title="Themes"
					body="Explore Original line capsule caffeine chart"
				/>
				<Card
					href="https://astro.build/chat/"
					title="Community"
					body="Come say hi to our amazing Discord community. ❤️"
				/>
		</ul>
		<p class="instructions">*Caffeine content is established based on the limited information availbale on Nespresso's website.</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		padding: 1rem;
		border-radius: 8px;
		font-size: 0.8em;

	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
